*~
.libs/
Makefile
Makefile.in
aclocal.m4
apfelgrid-config
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
example_conv
example_gen
install-sh
libAPFELgrid.la
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/.dirstamp
src/APFELgrid/config.h
src/APFELgrid/fastkernel.h
src/APFELgrid/stamp-h1
src/libAPFELgrid_la-APFELgrid.lo
src/libAPFELgrid_la-APFELgrid.o
tests/.deps/
tests/.dirstamp
tests/example_conv-example_conv.o
tests/example_gen-example_gen.o
compile
example_conv.log
example_conv.trs
example_gen.log
example_gen.trs
test-driver
test-suite.log
tests/clearTestData.sh.log
tests/clearTestData.sh.trs
tests/fetchTestData.sh.log
tests/fetchTestData.sh.trs